@font-face {
  font-family: 'mlp';
  src: url('mlp.woff2') format('woff2'),
       url('mlp.woff') format('woff'),
       url('mlp.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, 
body {
    height: 100%;
}

html { 
  background: -webkit-gradient(linear,  left top, left bottom,  from(#fcecfc),to(#FF00C2)); 
  background: linear-gradient(to bottom,  #fcecfc 0%,#FF00C2 100%);
  background: url(../images/bg-image.jpg) no-repeat center center fixed; 
  background-size: cover;
}

body {
  /* display: flex; */
  -webkit-box-sizing: border;
          box-sizing: border;
}

h1 {
  width: 700px;
  margin: 10px auto 12px auto;
  text-align: center;
  font-family: 'mlp', 'Indie Flower', cursive;
  font-size: 64px;
  font-weight: 700;
}

section {
   margin: auto; 
}

.levels-con {
  width: 700px;
  margin: 0 auto 20px auto;
  text-align: center;
}

.tagline {
  margin: 65px auto 20px auto;
  width: 600px;
  text-align: center
}

.tagline p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-style: italic;
}

.mines-display-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80px;
  height: 30px;
  margin: 0 auto 20px auto;
}

.mines-display {
  -ms-flex-item-align: center;
      align-self: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 20px;
}

.mine-image {
  height: 30px;
  width: 30px;
}

.game-con {
  vertical-align: top;
   -ms-flex-item-align: center;
       align-self: center; 
}

.game-square {
  padding: 0;
  margin: 1px;
  height: 20px;
  width: 20px; 
  border: 1px black;
  vertical-align: bottom;
}

.hidden {
  background: url(../images/hay.png) no-repeat center center; 
  background-size: cover;
}

.row {
  padding: 0;
  margin: 1px auto 1px auto;
  height: 20px;
  width: 700px;
  text-align: center;
}

.zero, .one, .two, .three, .four, .five, .six, .seven, .eight, .nine {
  background-color: rgba(255, 255, 255, 0.0);
  font-weight: bold;
}

.one:after {
  content: "1";
  color: blue;
}

.two:after {
  content: "2";
  color: green;
}

.three:after {
  content: "3";
  color: red;
}

.four:after {
  content: "4";
  color: purple;
}

.five:after {
  content: "5";
  color: maroon;
}

.six:after {
  content: "6";
  color: rosybrown;
}

.seven:after {
  content: "7";
  color: slategray;
}

.eight:after {
  content: "8";
  color: aqua;
}

.nine:after {
  content: "9";
  color: orange;
}

.flagged {
  background: url(../images/flag.png) no-repeat center center; 
  background-size: cover;
}

.mine {
  background: url(../images/mine.png) no-repeat center center; 
  background-size: cover;
}

/* for mine that has been clicked to end game */
.red {
  background: url(../images/wrong-click.png) no-repeat center center; 
  background-size: contain;
}